html[data-theme="dark"] {
  --ifm-background-color: #191d25;
}

.homePage_desc {
  padding: 2rem 9rem 0 9rem;
  font-size: 1.3rem;
}

.homePage_desc h1 {
  text-align: center;
  padding: 1rem 0;
}

.homePage_desc li {
  padding: 1rem;
}

.features {
  padding: 2rem 0;
  font-size: 1.2rem;
}

.features img {
  width: 7rem;
}

.features p {
  font-size: 1.1rem;
}

.features h3 {
  font-size: 1.5rem;
  padding: 1rem 0 0 0rem;
  color: var(--featuresH3);
}

.features h1 {
  margin: 1rem 2rem 5rem 2rem;
  text-align: center;
}

body {
  color: var(--fg);
  background: var(--bg) !important;
  font-weight: 400;
}

.navbar {
  background: var(--bg) !important;
  box-shadow: var(--navbar_shadow);
  font-weight: 500;
}

aside {
  padding: 1rem 0;
}

.navbar__inner,
.sidebar {
  margin: 0 0.5rem;
}

.navbar__logo {
  height: 1.4rem;
  margin: 0 0.2rem 0.4444 0;
}

:root .navbar__title {
  font-size: 1.3rem;
}

.navbar__item {
  font-size: 1.1rem;
  padding: 0 0.5rem;
}

.docPage_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage-styles-module,
.navbar__inner {
  padding: 0 5rem;
}

.menu__list {
  margin-right: 1rem;
}

.sidebar_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar-Desktop-styles-module {
  border-right: 2px solid var(--border);
}

.theme-doc-markdown,
.markdown {
  padding: 0 2rem;
}

.menu__list-item-collapsible {
  background: var(--border);
  color: var(--ifm-color-primary);
  font-weight: bold;
  border-radius: 0.5rem;
}

.homepage {
  display: grid;
  place-items: center;
}

.banner {
  text-align: center;
  justify-content: center;
  display: grid;
  padding: 6rem;
  padding-top: 1rem;
  background-image: var(--banner_gradient);
  width: 100%;
}

.bannerImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bannerContent {
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.bannerContent h1 {
  color: white;
  font-size: 4rem;
}

.bannerContent p {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}

.bannerDesc {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.banner_btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  box-shadow: var(--shadow);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 250ms ease-in-out;
  color: #a7bfe8;
  background-color: #1e222a;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1rem;
}

.bannerBtns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.try_btn {
  gap: 0.3rem;
}

.banner_btn:hover {
  color: #c0e4fe;
  background-color: #2e3440;
  cursor: pointer;
}

@media screen and (max-width: 1456px) {
  .docPage_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage-styles-module,
  .navbar__inner {
    padding: 0;
  }

  .banner {
    padding: 0.5rem 2rem 3rem 2rem;
  }

  .bannerContent h1 {
    font-size: 3rem;
  }

  .homePage_desc {
    padding: 2rem 4rem 0 4rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .bannerContent h1 {
    font-size: 2rem;
  }

  .homePage_desc {
    padding: 1.5rem 1.5rem 0 1.5rem;
    font-size: 1.2rem;
  }
}
