/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* You can override the default Infima variables here. */
:root {
  font-family: 'Inter', sans-serif;
--ifm-color-primary: #3578e5;
--ifm-color-primary-dark: #1d68e1;
--ifm-color-primary-darker: #1b62d4;
--ifm-color-primary-darkest: #1751af;
--ifm-color-primary-light: #4e89e8;
--ifm-color-primary-lighter: #5a91ea;
--ifm-color-primary-lightest: #80aaef;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: #2E3440;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: #2E3440;
}

:root .navbar__title {
  color: #2E3440;
  margin-left: 4px;
  font-family: 'Inter', sans-serif;
  font-size: x-large;
}

h1, h2, h3, h4{
  color: #2E3440;
  font-family: 'Inter', sans-serif;
}

.hero__title {
   color:white
}

.installBtn {
  color: #2E3440;
  background-color: #C0E4FE;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: .3s;
}

.installBtn:hover {
  color: #C0E4FE;
  background-color: #2E3440;
}
