.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.banner__right {
  flex: 2;
  display: flex;
  align-items: center;
}

.banner__right--screenshot {
  width: 100%;
  height: auto;
  object-fit: cover;
  animation: hero-fadeIn 1s;

  border-radius: 1rem;
  box-shadow: 0 4px 20px 16px rgb(0 0 0 / 20%), 0 6px 20px 2px rgb(0 0 0 / 19%);
}

.banner__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.banner__left--logo {
  width: 100%;
  max-width: 800px;
}

.banner__left--btn {
  width: 50%;
  margin: 0 auto;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 250ms ease-in-out;

  color: #2e3440;
  background-color: #c0e4fe;
}

.banner__left--btn:hover {
  color: #c0e4fe;
  background-color: #2e3440;
}

@keyframes hero-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html[data-theme="dark"] .navbar {
  background-color: #1e222a;
}

html[data-theme="dark"] .container {
  background-color: #0a0e16;
}

html[data-theme="dark"] body {
  background-color: #0a0e16;
}

html[data-theme="dark"] .banner_text {
  color: white;
}

html[data-theme="dark"] .navbar__title {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
  }
  .banner__left--btn {
    margin-top: 50px;
  }
  .banner__left--logo {
    display: none;
  }
}
