html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Inter", sans-serif;
}

button:hover {
  background-color: brightness(90%);
}

div {
  @apply rounded-lg;
}

body {
  @apply bg-white text-slate-7;
  @apply dark:bg-dark-2 dark:text-slate-3;
  @apply m-0 p-0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  @apply hover:text-blue-3;
}

.softshadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

button {
  @apply vertCentered justify-between w-full;
  @apply whitespace-nowrap rounded-lg;
  @apply hover:cursor-pointer w-fit
  @apply p-2 text-base bg-slate-1 dark:bg-dark-3;
  @apply dark:text-slate-4 text-black;
  @apply hover:darkenBg dark:hover:lightenBg;
}

button,
input {
  @apply outline-none border-none border-0;
}

input {
  @apply bg-transparent text-base;
}

h1 {
  @apply text-3xl md:text-5xl lg:text-6xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

.footerUnderline {
  text-underline-offset: 1rem;
}

/* news classes  */
.news h2 {
  @apply dark:border-dark-4;
}

.news h2 {
  @apply pb-5;
}

.news p,
.news li {
  @apply text-lg;
}

.news img {
  @apply w-full rounded-lg !shadow-lg;
}

.news code {
  @apply bg-slate-1 p-1 rounded-lg dark:bg-dark-3;
  @apply text-[14px];
}

img {
  animation: fadeIn 0.5s ease 0s 1 normal forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
