/* Taken from: https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css */

.dark pre code {
  --hljs-color: #b5bcc9;
  --hljs-type: #ef8891;
  --hljs-function: #c2a2e3;
  --hljs-attr: #99aee5;
  --hljs-string: #9ce5c0;
  --hljs-built_in: #eda685;
  --hljs-comment: #4e555c;
  --hljs-quote: #9ce5c0;
  --hljs-section: #92dbb6;
  --hljs-bullet: #fbdf90;
  --hljs-addition: #aff5b4;
  --hljs-addition-bg: #033a16;
  --hljs-deletion: #ffdcd7;
  --hljs-deletion-bg: #67060c;
}

pre code {
  --hljs-color: #b5bcc9;
  --hljs-type: #ef8891;
  --hljs-function: #c2a2e3;
  --hljs-attr: #99aee5;
  --hljs-string: #b5c3ea;
  --hljs-built_in: #eda685;
  --hljs-comment: #4e555c;
  --hljs-quote: #9ce5c0;
  --hljs-section: #92dbb6;
  --hljs-bullet: #fbdf90;
  --hljs-addition: #aff5b4;
  --hljs-addition-bg: #033a16;
  --hljs-deletion: #ffdcd7;
  --hljs-deletion-bg: #67060c;
}

.hljs {
  color: var(--hljs-color) !important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--hljs-type);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--hljs-function);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--hljs-attr);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: var(--hljs-string);
}

.hljs-built_in,
.hljs-symbol {
  color: var(--hljs-built_in);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--hljs-comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--hljs-quote);
}

.hljs-subst {
  color: var(--hljs-color);
}

.hljs-section {
  color: var(--hljs-section);
  font-weight: bold;
}

.hljs-bullet {
  color: var(--hljs-bullet);
}

.hljs-emphasis {
  color: var(--hljs-color);
  font-style: italic;
}

.hljs-strong {
  color: var(--hljs-color);
  font-weight: bold;
}

.hljs-addition {
  color: var(--hljs-addition);
  background-color: var(--hljs-addition-bg);
}

.hljs-deletion {
  color: var(--hljs-deletion);
  background-color: var(--hljs-deletion-bg);
}
